@mixin vertical-centered-text {
	transform: rotate(90deg) translateY(-50%);
	transform-origin: center top 0;
}
@mixin absolute-centered {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}